.hero {
    width: 100%;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;

}
.hero img{
    position: absolute;
    top:0 ;
    left: 0;
    z-index: -4;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero button{
    padding: 5px;
}