.card{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px -5px 5px 1px gainsboro;
    padding: 10px;
    width: 30%;
}
.card img{
    margin-bottom: 7px;
    border-radius: 10px;
    width: 90%;
}